/*
  Andy Thai, Thomas Lu
  11/4/2023
  CSS file, showing the layout of the webpages supported by index.html.
  Showcases the background and word style, including fonts, color, and image,
  of the whole project's web pages.
*/
body {
  background-color: #ddd;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
}

body, input, .submit, .link, button, #parent-link {
  font-family: 'Lilita One', sans-serif;
}

#home-page > p {
  color: gray;
}

form > div {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#heading, #list-container, #login, #signup, #cart-display, #checkout-display, #list-history {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 35px;
}

#list-container {
  margin-left: 100px;
  margin-right: 100px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 40px;
  column-gap: 0;
  overflow: hidden;
}

.list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  justify-items: center;
  row-gap: 0;
  justify-content: center;
  overflow: hidden;
}

#checkout-display {
  display: grid;
  justify-items: center;
  row-gap: 0;
  justify-content: center;
  overflow: hidden;
  grid-template-columns: 800px;
}

#cart-display {
  display: grid;
  justify-items: center;
  justify-content: left;
  grid-template-columns: repeat(1fr, 1fr);
}

.cart-style {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
  height: 80px;
  border-color: #202020;
  border-style: solid;
  padding-right: 40px;
}

.cart-style :first-child {
  width: 80px;
  max-height: 80px;
  text-wrap: nowrap;
}

.sub {
  padding-left: 80px;
  width: max-content;
  display: flex;
}

.sub p {
  padding: 10px;
}

#total {
  width: 800px;
}

#heading, #login, #signup {
  flex-direction: column;
}

#login, #signup {
  justify-content: flex-start;
  width: 400px;
  height: fit-content;
  background-color: #a7a7a7;
  border-style: solid;
  border-width: 3px;
  border-color: #202020;
}

#list-container, #cart-display, #checkout-display, #list-history {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#page-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#navigation {
  display: flex;
  justify-content: space-around;
  background-color: #a7a7a7;
  align-items: center;
  padding: auto;
  height: 80px;
}

#cart, #search-box {
  margin: 10px;
}

.links {
  display: flex;
  width: max-content;
  flex-wrap: nowrap;
}

.grid-style {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #a7a7a7;
  border-style: solid;
  border-width: 1px;
  width: 300px;
  height: 320px;
  padding-bottom: 20px;
  margin: 0;
}

.grid-style :first-child {
  margin-top: 20px;
  width: 200px;
  max-height: 200px;
}

.grid-style h3 {
  width: auto;
  font-weight: normal;
}

.price-details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
}

.list-style {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #a7a7a7;
  width: 400px;
  height: 100px;
  border-color: #202020;
  border-style: solid;
}

.list-style :first-child {
  margin-top: 20px;
  width: 60px;
  max-height: 60px;
}

.list-style h3 {
  width: 100px;
  font-weight: 100;
}

.link, #parent-link {
  height: 70px;
  display: flex;
  width: max-content;
  list-style-type: none;
  align-items: center;
  margin: 0px;
}

.link, #login-button, #signup-button, #parent-link {
  border-style: none;
  background-color: transparent;
  color: #3b3b3b;
  font-weight: 1000;
  font-size: 20px;
  text-decoration-line: none;
  padding: 20px;
}

#cart-container {
  border-style: none;
  background-color: transparent;
  padding: 0px;
}

#signup-page, #login-page {
  height: 400px;
}

.link:hover, .price:hover, .submit:hover {
  background-color: rgb(217, 140, 235);
  color: white;
  transition: 0.3s ease-out;
}

#login-button, #signup-button {
  width: 200px;
}

.link:hover > .icons {
  filter: invert();
}

.icons {
  width: 50px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 30px;
  flex-shrink: 0;
}

.price :first-child {
  width: 20px;
  margin-bottom: 18px;
}

h2 {
  margin-bottom: 20px;
}

.input, #search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  height: 40px;
  border-color: #202020;
  border-style: solid;
  border-width: 2px;
}

#search-term {
  height: 33px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.details {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#detailed-view {
  display: flex;
  align-self: center;
}

ul {
  width: 400px;
}

li {
  font-size: 22px;
  list-style-type: none;
  text-align: left;
  margin: 20px;
}

.large {
  max-height: max-content;
  width: 400px;
}

.input {
  width: 200px;
  height: 38px;
}

h1 {
  text-align: left;
  font-size: 3rem;
  line-height: 55px;
  color: #202020;
  margin-bottom: 40px;
  margin-top: 0px;
}

h1, button, input, .images {
  cursor: pointer;
}

button {
  margin: 20px;
}

.category-heading {
  display: flex;
  margin-right: 3em;
  justify-content: end;
  align-items: center;
}

.category-heading h2 {
  font-size: 1.56rem;
  font-weight: 700;
  color: #202020;
  letter-spacing: 0.5px;
  margin: 30px;
}

.category-heading span {
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

.category-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 15px;
}

.category-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  width: 120px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  flex-wrap: wrap;
}

.category-box img {
  height: 50px;
  width: 50px;
  padding: 20px;
}

.review-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}

.review-heading h3 {
  font-size: 1.56rem;
  color: #202020;
  font-weight: 700;
}

.review-container, #search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
}

.review-box {
  padding: 20px;
  border: 1px solid;
  border-radius: 0px 30px 0px 30px;
  background-color: white;
  margin: auto;
}

.profile-text {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.review-box p {
  color: #7c7c7c;
}

.hidden {
  display: none;
}

.dropdown {
  overflow: hidden;
  float: left;
}

.dropdown .dropbtn {
  font-size: 18px;
  font-family: inherit;
  border: none;
  background-color: inherit;
}

.dropdown-content {
  display: none;
  width: 130px;
  box-shadow: 8px 8px 16px 8px black;
  position: absolute;
  z-index: 1;
}

.dropdown-content .filtering {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content, .dropdown:hover > #parent-link {
  display: block;
  background-color: rgb(217, 140, 235);
}
